.header-container{
    background-color: whitesmoke;
    height: 710px;
}

.house{
    width: 794px;
    height: 794px;
    clip-path: circle(53.0% at 79% 36.5%);
    position: absolute;
    top: 0;
    left: 46.1% ;

}