html{
    box-sizing: border-box;
    *,
    *::after,
    *::before{
        box-sizing: inherit;
    }
    font-family: 'Muli', sans-serif;
}

body{
    background-color: white;
}

.site-container{
    max-width: 1440px;
    margin: 0 auto;    
    background-color: white;
    overflow: hidden;
    border-radius: 70px;
    position: relative;
    

}


.main-container{
    max-width: 1136px;
    margin: 0 auto;
}